body{
	margin-right: 10%;
	margin-left: 10%;
	background-image: url(img/1.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

.btn{
	color: rgb(58, 68, 58) ;
	margin-right: 3px;
}

section{
	margin-top: 2%;
	background-color:rgba(206, 221, 212,.9); 
}

header{
	background-color:rgba(206, 221, 212,.9); 
}

footer{
	background-color:rgba(206, 221, 212,.9); 
}
